<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {{ dump(user) }}
            <a href="/logout"> logout</a>

            <a href="/login"> login</a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
